body {
	background: #FCE9F1;
	font-family: 'Karla', sans-serif;
	font-weight: 800;
}
#title {
	font-family: 'Karla', sans-serif;
	font-size: 60px;
	text-align: center;
	margin: 30px;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 400;
	color: rgba(43, 17, 0, 0.815);
}
h3{
	font-size: 60px;
	text-align: center;
	margin: 30px;
	margin-bottom: 20px;
	letter-spacing: 5px;
	font-weight: 400;
	color: rgba(43, 17, 0, 0.815);
}

#bears-container {
    display: flex;
    flex-direction: row;
	justify-content: space-between;
	padding-top: 150px;
	padding-right: 30px;
	padding-left: 30px;
}

.bear {
	opacity: .7;
}
.bear:hover {
    cursor: pointer;
	transform: scale(1.2);
	opacity: 1;
}


a {
	text-decoration: none;
}
.text {
	font-family: 'Karla' , sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 800;
	color: rgba(43, 17, 0, 0.815);
	text-align: center;
	margin-top: 30px;
	margin-left: 15px;


  }